*{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: sans-serif;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
body{background-color: #75D086;}
h1{color: #ffffff;}
h3{color: #ffffff;}
h4{color: #ffffff;}
p{color: #ffffff; margin-top:6px; margin-bottom: 0; }


#toolbar{
  width: 30%;
  padding: 10px;
  float: right;
  position: relative;
  background-color:#1f6b3e;
  border: #034103 1px solid;
  color: white;
}

#Basic-Tool{
  width: 50%;
  height: 20%;
  text-align: left;
  float: left;
  /* background:rgba(12, 175, 140, 0.7); */
}

#color-selector{
   width: 50%;
  float: right;
  text-align: left;
  /* background:rgba(12, 175, 140, 0.7); */
}
#Font-Selector{
  margin-top: 10px;
  padding-left: 20px;
  width:50%;
  float: left;
  text-align: left;
  position: relative;
  /* background:#0caf8c; */
  background:rgba(12, 175, 140, 0.7);
}

#Shape-Select{
  padding-left: 20px;
  margin-top: 5px;
  width: 100%;
  float: left;
  text-align: left;
  /* background:rgba(12, 175, 140, 0.7); */
}
#Image-Handler{
  margin-top: 10px; 
  width: 100%;
  padding-left: 20px;
  padding-bottom: 20px;
  float: left;
  text-align: left;
  /* text-indent: 20px; */
  background:rgba(12, 175, 140, 0.7);
}

#music{
  top:10px;
  width: 80%;
  height: 40px;
  position:relative;
}
#music_Select{
  margin-left: 20px;
  float: left;
  position: relative;
  top: 0px;
}


#colors {
  position: relative;
  font-size: 20px;
  font-weight: 500;
  color: white;
  white-space: nowrap;
  }
  
  #range {
  position: relative;
  font-size: 20px;
  font-weight: 500;
  color: white;
    white-space: nowrap;
  }
  
  #myColor, #myRange {
  cursor: pointer;
  }
  
  #canvas {
    position: absolute;
    background-color: #ffffff;
    margin-left:160px; 
    margin-top:20px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.3);  
  }
  
  #canvas_temp {  /* transparent*/
    position: absolute;
    margin-left:160px; 
    margin-top:20px;    
  }
  #fontFamily{
    position: relative;
    top: -40px;
}
#fontSize{
  margin-left: 85px;
  float: left;
  position: relative;
  top: -20px;
}

#redo {
  position: absolute;
  /* background-color: #ffffff; */
  margin-left:5px; 
  margin-top:400px;
  /* box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);   */
}
#undo {
  position: absolute;
  /* background-color: #ffffff; */
  margin-left:0px; 
  margin-top:200px;
  /* box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);   */
}
#reset {
  position: absolute;
  /* background-color: #ffffff; */
  margin-left:-20px; 
  margin-top:-10px;
}
#ace{
  position: absolute;
  /* background-color: #ffffff; */
  margin-left:-40px; 
  margin-top:535px;
  /* box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);   */
}
#sabo{
  position: absolute;
  /* background-color: #ffffff; */
  margin-left:1170px; 
  margin-top:570px;
  /* box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);   */
}

/* Brush Size slide bar */
.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 10px;
  border-radius: 5px;  
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
   width: 25px; /* Set a specific slider handle width */
  height: 25px; 
  border-radius: 50%; 
  background: #4CAF50; /*Green background*/
  /* background: url('contrasticon.png'); */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
   width: 25px;/*Set a specific slider handle width */
   height: 25px; 
  border-radius: 50%; 
  background: #4CAF50; /*Green background*/
  /* background: url('contrasticon.png'); */
  cursor: pointer; /* Cursor on hover */
}



/* Color Selector */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
h2 {
  background-color: #dbdbdb;
  margin: 0;
  margin-bottom: 15px;
  padding: 10px;
  font-family: 'Open Sans';
}
#color-input {
  display: none;
  float: left;
}
#color-label {
  /* position: absolute; */
  float: left;
  border: solid 1px blanchedalmond;
  margin-left: 25px;
  height: 30px;
  width: 50px;
} 
#color-input:checked ~ #color-picker {
  float: right;
  opacity: 1;
}
#color-picker {
  float: right;
  /* position: relative; */
  top: 0px;
  left: 80px; 
  background-color: white;
  height: 170px;
  width: 200px;
  border: solid 1px #ccc;
  opacity: 0;
  padding: 6px;
}
#color-picker:hover {
  cursor: crosshair;
}




